body{
	background: black;
}
.contenedor{
	width: 960px;
	margin: 0 auto;
	color: purple
}
.menu-lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-item{
display: inline-block;
}
.menu-link{
	padding: px;
	border-radius: 30px;
	text-decoration: none;

}
.menu-link{
	font-size:25px;
	background: blue;
	color: white;
	padding: 20PX;
	border-radius: 15px;
	text-decoration: none;
}
.menu-link:hover{
	text-decoration:underline;
	box-shadow: 8px 8px 8px red;
	transition: 15;
}
nav{
	text-align: center;

}
.slider{
	display: inline-block;
    font-size:10px;
	background: orange;
	color: fuchsia;
	padding: 15px;
	border-radius:10px;
	cursor: pointer;
	padding:px;
	box-shadow: 10px 10px 10px green;
	transition: 20;

	}
index